---
layout: default
title: Home
---

<h1>Halo.</h1>
<p>Sebuah pekarangan karangan milik Reiza Rahmadi. Di sini tempat aku menuliskan catatan, pikiran dan perjalanan hidup secara pelan-pelan.</p>

<hr/>

<h4>Tulisan Akhir</h4>
  <div class="container content">
    {% assign latest_posts = site.posts | sort: "date" | reverse %}
    {% for post in latest_posts limit: 1 %}
      <a href="{{ post.url | relative_url }}">
        <h2 class="post-title">{{ post.title }}</h2><br />
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time> —
        <p>{{ post.excerpt }}</p>
      </a>
    {% endfor %}
  </div>
    
<hr/>

<h4>Daftar Catatan</h4>
<ul>
  {% assign posts = site.posts | sort: "date" | reverse %}
  {% for post in posts limit: 10 %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y • %m" }}</time>  
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
  {% endfor %}

{% if posts.size > 10 %}
  <p><a href="{{ site.baseurl }}/writings">Lihat semua tulisan →</a></p>
{% endif %}

