---
layout: default
title: Home
---

<h1>Halo.</h1>
<p>Sebuah pekarangan karangan milik Reiza Rahmadi. Di sini tempat aku menuliskan catatan, pikiran dan perjalanan hidup secara pelan-pelan.</p>

<hr/>

<h3>Tulisan Akhir</h3>
<ul>
  {% assign latest_posts = site.posts | sort: "date" | reverse %}
  {% for post in latest_posts limit: 1 %}
    <li>
      <strong><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time></strong> —
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<hr/>

<h3>Daftar Catatan</h3>
<table style="width:100%;" class='with-row-counter mobile-friendly'>
  <tbody>
    {% assign posts = site.posts %}
    {% for post in posts limit: 10 %}
      <tr>
        <td><strong><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time></strong></td>
        <td style="width:100%;">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br/>
          {{ post.description }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if posts.size > 10 %}
  <p><a href="{{ site.baseurl }}/writings">Lihat semua tulisan →</a></p>
{% endif %}

